.row {
    display: flex;
    align-items: center;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red; /* temporary */
}

.offset {
    border: 1px solid lime;
}

.yOffset {
    border: 1px dotted white;
}

